---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Bill Higgins is a Distinguished Engineer and VP at IBM, sharing insights on AI, strategy, leadership, and building great teams."
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Bill Higgins is an IBM Vice President and Distinguished Engineer who leads watsonx Platform Engineering and IBM’s Open Innovation efforts.
	</p>

	<p>
		As VP of IBM’s watsonx Platform Engineering organization in IBM Research, Bill leads a team of experienced software engineers who, in collaboration with partners at Red Hat, build IBM’s strategic AI platform components, via contributions to strategic open source communities.
	</p>

	<p>
		As Chair of the IBM Open Innovation Community, Bill guides IBM’s 120,000-person global technical community to work better together and accelerate IBM’s strategy through the power of community.
	</p>

	<p>
		Bill previously led the transformation of IBM’s internal development toolchain, including the largest deployments of Slack and GitHub Enterprise in history.
	</p>

	<p>
		Bill graduated from Penn State University in 2000 with a B.S. in Computer Science. He lives in Raleigh, North Carolina with his family.
	</p>
</Layout>
